<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Global Search</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.624/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.624/styles/kendo.default.min.css" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2015.2.624/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" />
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Bootstrap core CSS -->






<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/header.css" rel="stylesheet" />



			
			
</head>

<body >
<div class="navbar navbar-default" style="margin-bottom: 0px; z-index: 2000;" >
  <div class="container-fluid ">
    <div class="col-lg-4 col-md-4 col-sm-6 " style=" width: 130px; padding-left: 30px;">
      <button id="btn-next-emi" class="btn btn-secondary header-menu-button" ng-click="showMenu()">Menu</button>
    </div>
    <div class="navbar-header col-lg-4 col-md-4 col-sm-6  height44"> <a class="navbar-brand " href="#">Enterprise Master Item </a> </div>
    <div class="col-lg-1 col-md-1"></div>
    <div id="welcome" class="col-lg-3 col-md-3 col-sm-12  pull-right colorWhite headerIconsContainer" >
      <ul>
        <li id="searchPageItem" ng-click="showSearchItem('searchPageItem')" class="noBorder" >
          <div class="iconSearch "><a href = "#/searchPage" ><i class= 'fa fa-search'></i></a></div>
        </li>
        <li id=""  class="searchPageItem" > <a href = "#/searchPage" ><i class="fa fa-bell colorWhite marginTop15"></i></a> <span class="bgGreen ribbon">20</span> </li>
        <li id=""  class="searchPageItem" > <a href = "#/searchPage" ><i class="fa fa-exclamation-triangle colorWhite marginTop15"></i></a> <span class="bgRed ribbon">10</span> </li>
        <li id=""  class="searchPageItem noBorder" > <span class="lineHeight44 ">J Mooney</span> </li>
      </ul>
    </div>
  </div>
</div>

<!--End of Header -->


 


</body>
</html>
