@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu{
    list-style-type: none;
    padding-left: 12px;
}
.menu li {
    margin-bottom: 15px;
}

.menu li:last-child {
    margin-bottom: 0px;
}
.menu li a {
    cursor: pointer;
    display: block;
    background: #0176c7;
    line-height: 40px;
    padding: 0px 15px;
    padding-left: 50px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.menu li a i {
    transition: font-size .3s ease;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    top: 50%;
    left: 10px;
    margin-top: -15px;
    border-radius: 100%;
}

.menu li div {
    padding: 1px 15px;
    position: relative;
    list-style-type: none;
}

.menu li div:before {
    content: '';
    position: absolute;
    width: 2px;
    height: auto;
    background: #fff;
       left: 44px;
    top: -10px;
    z-index: 1;
}
.menu  li.active div:before{
	height:99%;
}
.menu  li.active  div div:before{
	height:auto;
}
.menu li div{
    margin: 0px;
    position: relative;
    z-index: 2;
	display:none;
}
.menu li div div{
	margin-top:10px;
}
.menu li.active div{display:block}
.menu li div a {
    display: block;
    background: #fff;
    line-height: 25px;
    padding: 0px 10px;
    border-radius: 12px;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    box-shadow: none !important;
}

.menu li div.active a b {
    color: #f67423;
}
.menu li div a b {
    color: #004c91;
}
.menu li.active a {
    background: #fff;
    color: #333;
    box-shadow: -5px 0px 0px #f67423 inset;
	text-decoration: none;
}

.menu li.active a i {
    background: #f67423;
    font-size: 15px;
    left: 5px;
}
.header {
    min-height: 70px;
    background: #007dc4;
}
.videotag{
height:327px;
}

.slider {
    min-height: 500px;
    background: url(../images/12.png) #004e90 no-repeat;
    position: relative;
    padding: 60px 0px;
    background-position:100% 63%;;
}

.slider .inner {
    background: #f90;
}

.slider:before {
    content: '';
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(0, 78, 144, 0.9);
}

#slider {
    position: relative;
}

#slider:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #f27425;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#slider:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 25px;
    background: #f27425;
    left: -2px;
    top: 0px;
    z-index: 1;
}

#slider .item-video {
    height: 300px;
    border: 1px solid #519ce4;
}

.slider .owl-dots {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100%;
    margin-top: 8px;
    text-align: center;
}

.slider .owl-dots .owl-dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 0px 2px;
    border: 1px solid #fff;
    position: relative;
}

.slider .owl-dots .owl-dot.active:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #fff;
    border-radius: 100%;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.tipoftheday {
    display: block;
    position: absolute;
    width: 100%;
    background: #f90;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.tipoftheday .inner {
    position: relative;
}

.tipoftheday span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: block;
    float: right;
}

.tipoftheday span i {
    transition: all .3s ease;
    display: block;
    height: 40px;
    border-radius: 100%;
    background: #145a96;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    z-index: 1;
    position: relative;
}

.tipoftheday span div {
   visibility: hidden;
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    right: -51px;
    top: 0px;
  /*  background: #ffc220;*/
    line-height: 40px;
    white-space: nowrap;
    padding: 0px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding-right: 50px;
	margin-right: 38px;
}

.tipoftheday span:before {
	    display: none;
    /* transition: all .1s ease; */
    opacity: 0;
    content: '';
    height: 27px;
    width: 52px;
    background: url(../images/dspark.png) no-repeat;
    position: absolute;
    bottom: 90%;
    left: 34%;
    margin-left: -19px;
    margin-bottom: 5px
}
.tipoftheday span:hover:before {
    /* transition: all .1s ease; */
    background: url(../images/spark.png) no-repeat;
    bottom: 87%;
    left: 31%;
    
}
.tipoftheday span:hover div{
	visibility:visible;
	opacity:1;
}
.tipoftheday span:before {
	display:block;
    opacity: 1;
}

.tipoftheday span:hover i {
    background: #fdbc0e
}

.blocks {
    min-height: 300px;
    background: #eeeeee;
    padding: 40px 0px 0px 140px;
    counter-reset: counter;
	    margin-left: 0px !important;
}

.blocks [class^="col"] .item_block {
    background: #ccc;
    counter-increment: counter;
    position: relative;
}

.blocks .first-blk .item_block {
    background: #007dc4;
	max-width: 793px;
}

.blocks .second-blk .item_block {
    background: #76bb2b;
	max-width: 793px;
}

.blocks .third-blk .item_block {
    background: #f8a065;
	max-width: 793px;
}

.blocks .first-blk .item_block:before {
    background: #004c91;
}

.blocks .second-blk .item_block:before {
    background: #618e26;
}

.blocks .third-blk .item_block:before {
    background: #f47321;
}

.blocks .first-blk  h3 {
    color: #004c91;
}

.blocks  .second-blk  h3 {
    color: #618e26;
}

.blocks .third-blk  h3 {
    color: #f47321;
}

.blocks .first-blk .item_block:after {
    background: #007dc4;
}

.blocks .second-blk .item_block:after {
    background: #76bb2b;
}

.blocks .third-blk .item_block:after {
    background: #f8a065;
}

.blocks .first-blk .read {
    background: #007dc4;
    text-decoration: none;
	font-weight: bold;
}

.blocks .second-blk .read {
    background: #76bb2b;
    text-decoration: none;
	font-weight: bold;
}

.blocks  .third-blk .read {
    background: #f8a065;
    text-decoration: none;
	font-weight: bold;
}

.blocks .item_block:before {
        display: block;
    position: absolute;
    content: counter(counter);
    border-radius: 100%;
    height: 76px;
    line-height: 76px;
    width: 76px;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    top: -29px;
    left: -43px;
    z-index: 2;
}

.blocks .item_block:after {
   content: '';
    position: absolute;
    height: 76px;
    width: 76px;
    top: -25px;
    left: -33px;
    z-index: 1;
    border-radius: 100%;
}

.blocks h3 {
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 40px;
    font-size: 20px;
}

.blocks .item_block {
    color: #fff;
    padding: 20px;
}

.blocks .item_block p {
    line-height: 20px;
    font-size: 14px;
    padding: 0 20px;
	font-weight: bold;
}

.blocks .item_block img {
   margin-top: 26px;
    height: 166px;
    width: 128px;
    float: left;
}

.blocks .item_block ul li strong {
    border-bottom: 1px solid #f47321;
    padding:0 20px 0 0;
}

.blocks .item_block ul li:last-child {
    border: none;
}

.blocks .item_block ul li a span{
    display: block;
    line-height: 20px;
    position: relative;
    padding: 10px 0px;
    padding-left: 34px;
    color: #fff;
}

.blocks .item_block ul li a span:before  {
    font-family: 'FontAwesome';
    content: "\f01d";
    margin-right: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    position: absolute;
    left: 0px;
    top: 14px;
    height: 100%;
}

.blocks .item_block ul li a strong {
    font-weight: bold;
    display: block;
    font-size: 16px;
    color: #fff;
}

.blocks .item_block blockquote {
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 15px;
    border-left: 0;
}

.blocks .item_block blockquote:before {
    font-family: 'FontAwesome';
    content: '\f10d';
    margin-right: 5px;
    font-weight: normal;
    float:left;
}

.blocks .item_block blockquote:after {
    font-family: 'FontAwesome';
    content: '\f10e';
    margin-left: 5px;
    font-weight: normal;
    float: left;
}
.blocks .item_block blockquote hr.lftcnt{
	margin: 10px 20px 10px 30px;
}
.blocks .item_block blockquote hr.rhtcnt{
	margin: 10px 10px 10px 0px;
    width: 80%;
    float: left;
}
.read {
     display: inline-block;
    line-height: 30px;
    padding: 3px 42px;
    color: #fff;
    margin-top: 10px;
    float: right;
    border-radius: 3px;
	    margin-right: 46px;
}

.footer {
    height: 20px;
    background: #ccc;
	    position: relative;
    z-index: 9999;
}

.header .container-fluid {
    padding: 0px 0px;
}

.header .container-fluid .row {
    margin: 0px;
}

.header .container-fluid .row [ class^="col"] {
    padding: 0px 0px;
}

.header .tigger {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    position: relative;
    cursor: pointer;
    z-index: 0;
	border-right: 1px solid #2693ff;
}

.header .tigger span, .header .tigger span:before, .header .tigger span:after {
    transition: all .3s ease;
}

.header .tigger span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -2px;
}

.header .tigger span:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-transform: rotate(0deg) translate(0px, 6px);
    transform: rotate(0deg) translate(0px, 6px);
}

.header .tigger span:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-transform: rotate(0deg) translate(0px, -6px);
    transform: rotate(0deg) translate(0px, -6px);
}

.header .tigger.open span:after {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
}

.header .tigger.open span:before {
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(0px, 0px);
}

.header .tigger.open span {
    background: none;
}

.header .logo {
    display: inline-block;
    padding: 16px 15px 0px 15px;
    float: left;
}
.header .logo span{
	font-size:18px;
	color:#fff;
	font-weight:normal;
	font-family: initial;
    padding: 0px 0 0 10px;
    vertical-align: middle;
}
.header .settings {
    display: inline-block;
    float: right;
   	height:70px;
}

.header .settings i {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    position: relative;
}

.header .search, .header .alerts, .header .notifications, .header .profile, .header .options {
    display: inline-block;
    float: left;
    height: 70px;
    position: relative;
    border-left:1px solid #2693ff;
}


.header .options {
    cursor: pointer;
    background: #004c91;
    line-height: 70px;
    color: #fff;
    padding: 0px 0px 0px 35px;
    border-radius: 16px 0px 0px 16px;
    position: relative;
    height: 38px;
    border-left: none;
    margin: 16px 0;
}

.header .options i {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 38px;
    list-style: 30px;
    text-align: center;
    transition: all .6s ease;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    line-height:40px;
}

.header .options.open2 i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header .options span {
    position: absolute;
    left: 100%;
    font-weight: bold;
    top: 0px;
    white-space: nowrap;
    background: #004c91;
    line-height: 38px;
    color: #fff;
    padding: 0px 40px 0px 40px;
    border-radius: 0px 15px 15px 0px;
}

.header .search {
    cursor: pointer;
    padding: 0px 0px;
    position: relative;
    border-left:none;
}

.header .search form {
    width: 150px;
    display: none;
    position: absolute;
    right: 100%;
    top: 0px;
    height: 100%;
}

.header .search form input[type=text] {
    width: 100%;
    border: none;
    height: 30px;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

.header .search i {
    width: 50px;
    text-align: center;
}

.header .search i:active {
    color: #09f;
}

::-moz-placeholder {
    opacity: 0.8;
}

:-ms-input-placeholder {
    opacity: 0.8;
}

::-webkit-input-placeholder {
    opacity: 0.8;
}

.header .alerts, .header .notifications {
   margin-right: 35px;
    padding-left: 16px;
}

.header .alerts span, .header .notifications span {
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background: #e74c3c;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px 0px 10px;
    font-size: 12px;
    top: 50%;
    margin-top: -15px;
    margin-left: -8px;
    left: 100%;
    width:35px
}

.header .alerts span {
    background: #2ecc71;
}

.profile {
    position: relative;
    margin-right: 10px;
    padding-left: 15px;
}

.profile span {
    display: block;
    padding-right: 45px;
    line-height: 70px;
    color: #fff;
    font-size: 14px;
}

.profile .pic {
    width: 30px;
    height: 30px;
    background: #f90;
    position: absolute;
    right: 0px;
    top: 20px;
    border-radius: 100%;
    overflow: hidden;
}

.profile .pic img {
    width: 100%;
}

.wrapper {
    background: #fff;
    position: relative;
    z-index: 5;
    left: 0px;
    transition: all .3s ease;
}
.overlay1{ position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.5 ); z-index: 5; display: none;}

.sidebarlft {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #fff;
    z-index: 1;
    width: 20%;
    box-shadow: inset 71px 0px 0px #97b4fe;
}

.sidebarlft ul {
    display: block;
    padding-left:0px;
}

.sidebarlft ul li {
    display: block;
    border-bottom: 1px solid #cbd8fb
}

.sidebarlft ul li:first-child a i {
    border: none;
    background: none;
}

.sidebarlft ul li a {
      display: block;
    height: 70px;
    line-height: 70px;
    color: #333;
    padding: 0px 20px 0px 90px;
    position: relative;
    font-weight: bold;
    text-transform: capitalize;
        text-decoration: none;
}
.sidebarlft ul li a:hover {
	text-decoration:none;
	}
.sidebarlft ul li a i {
    position: absolute;
    display: block;
    height: 70px;
    line-height: 70px;
    width: 71px;
    text-align: center;
    left: 0px;
    font-size: 20px;
    background: #97b4fe;
    color: #004c91;
    border-right: 1px solid rgba(255, 255, 255, 0.1)
}
 
.wrapper.sidebarlftin {
    left: 70px;
}
.wrapper.sidebarlftin.sidebarin_labels {
    left: 230px;
}

.expend i {
    transition: all .3s ease;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.expend.openlabels i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sidebarrht {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    background: #e1e5e8;
    z-index: 11;
    width: 288px;
    padding: 15px;
    padding-top: 20px;
    display: none;
}

.sidebarrht.sidebarrhtin {
    display: block
}
.sidebarrht .appsettings{
    cursor: pointer;
    background: #004c91;
    line-height: 30px;
    color: #fff;
    padding: 0px 0px 0px 12px;
    border-radius: 15px 0px 0px 15px;
    position: relative;
    left: -47px;
    width: 320px;
    top: -14px;
}
.sidebarrht .appsettings span {
    position: absolute;
    font-weight: bold;
    top: 0px;
    white-space: nowrap;
    background: #004c91;
    line-height: 30px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    border-radius: 0px 15px 15px 0px;
}
.header .search.searchrt{
    left:-69px;
}
.mytabs {
    border-bottom: 1px solid #f67423;
    padding-bottom: 12px;
        padding-left: 15px;
}

.mytabs:before, .mytabs:after {
    clear: both;
    content: '';
    display: table;
}

.mytabs li {
    display: inline-block;
    float: left;
    width: auto;
    position: relative;
}
.mytabs li+li{
	margin-left:20px;
}
.mytabs li a {
      position: relative;
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
    width: 38px;
    background: #eeeeee;
    border-radius: 100%;
    border: 1px solid #83d0fe;
    color: #bbbbbb;
}

.mytabs li.active a {
      background: #febb0c;
    border-color: #f47421;
    color: #fff;
}

.mytabs li.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #f67423;
    left: 0px;
    top: 100%;
    margin-top: 6px;
}

.heading {
    margin: 15px 0px;
    background: #f4f5f6;
       line-height: 38px;
    padding: 0px 20px;
    border-radius: 20px;
    color: #0e5697;
    font-weight: bold;
    font-size: 15px;
}

.form .input {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #004c91;
}

.form .input input[type=text], .form .input select {
    height: 30px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
}

.form .msg {
    min-height: 15px;
}
.currentroles ul{
	padding:0;
	margin:0;
}
.currentroles {
    background: #fff;
    padding: 5px 0px;
    border-radius: 4px;
}

.currentroles li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding:0 15px;
}

.currentroles li:last-child {
    border: none;
}

.currentroles li a {
    color: #004c91;
    font-size: 14px;
    line-height: 40px;
}
#tab3 .faq{
	list-style-type:none;
	padding:0;
}
#tab3 .faq ul{
	list-style-type:none;
}
#tab3 .faq li+li{
	    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}
.info p+p{
padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.info p i{
    padding-right: 5px;
}
#tab4 .vids {
	padding-left:0;
}
.faq ul {
    display: block;
    background: #fff;
    padding: 3px;
    border-radius: 0px 5px 5px 5px;
	margin-left:20px;
}
.faq ul li p{
	font-size:14px;
}

/*.faq a {
       display: block;
    line-height: 22px;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}*/
#tab3 .faq a:before {
   transition: all .3s ease;
    display: block;
  
    font-weight: bold;
    font-size: 16px;
    content: 'Q';
    height: 45px;
	display:none;
    width: 25px;
    text-align: center;
    line-height: 26px;
    left: 0px;
    top: -1px;
    background: #fff;
    border-radius: 13px 13px 0 0;
    margin-top: 0;
}
.faq a:before {
    transition: all .3s ease;
    display: block;
  /*  position: absolute;*/
    content: 'Q';
    height:25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    left: 0px;
    top: 50%;
    background: #fff;
    margin-top:-12px;
    border-radius: 13px;
}
.faq li{
	background: none;
    font-weight: bold;
    color: #004c91;
    font-size: 16px;
}
.faq li a{
	padding-left:10px;
	font-weight:normal;
	 font-size: 14px;	
}
.faq ul li {
    line-height: 20px;
    color: #676767;
}

.faq li.active a:before {
    height: 40px;
}

.faq ul li p, .faq a {
    color: #004c91;
    font-weight: normal;
}

.faq ul li p:before {
    content: 'Answer: ';
    font-weight: bold;
}

.searchbar {
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 15px;
}

.searchbar input[type=text] {
    width: 80%;
    padding-left: 20px;
    height: 38px;
    border: none;
    background: none;
    float:left;
}

.searchbar button {
    background: none;
    border: none;
    width: 40px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 15px;
    color: #333;
}

.searchbar-title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #004c91;
}

.info {
   /* border-top: 1px solid #ccc;
    margin-top: 20px;*/
}

.info p {
    margin: 15px 0px;
    color: #004c91;
    font-weight: bold;
    font-size: 15px;
}

.vids li {
    display: block;
}

.vids li a {
    font-weight: bold;
    font-size: 15px;
    display: block;
    line-height: 35px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
	color: #666666;
	padding-left: 10px;
}

.vids li a span {
    float: right;
    font-size: 12px;
    color: #676767;
}

.vids li a:before {
    font-family: 'FontAwesome';
    content: "\f107";
	display:none;
    margin-right: 5px;
    color: #333;
    font-weight: normal;
}

.vids li.active a:before {
    content: "\f106";
}
.videobordertop{
  height: 40px;
    background: #f47321;
    width: 4px;
    display: block;
    float: left;
}
.videoborder{
	height: 372px;
    background: #f47321;
    width: 4px;
    display: block;
    float: left;
}
.vids ul {
    display: block;
    padding: 5px 0px;
}

.vids ul li {
        padding: 10px 50px;
    margin-bottom: 5px;
}

.vids ul li:last-child {
    margin-bottom: 0px;
}
.vids li a i{
	padding-right:10px;
}
.vids ul li img {
   /* width: 100%;*/
}

.vids ul li strong {
    color: #004c91;
    font-weight: bold;
    display: block;
    margin: 4px 0px;
}

.vids ul li p {
    line-height: 18px;
    color: #676767;
    font-size: 12px;
}
.videotag>div{
	width:100%;
	height:300px;
	display:none;
}
.videotag>div.active {
	display:block;
}
/*.carousel-indicators1 {
	position: absolute; 
    bottom: 0px;
    z-index: 15;
    padding-left: 0;
    text-align: center;
	width: 98%;
    list-style: none;
    background: none;
    margin: 0 auto;
    margin-top: 20px;
}
.carousel-indicators1 li.active{   
   width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators1 li {   
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators{background: #ccc;}*/

.item_block ul{
	list-style-type:none;
	padding:0 20px;
}
#tab1 .heading,#tab2 .heading,#tab3 .heading,#tab4 .heading,#tab5 .heading {
	text-align:center;
}
#tab1 .heading i,#tab2 .heading i,#tab3 .heading i.fa-dashboard,#tab4 .heading i,#tab5 .heading i{
	float:left;
	padding-top:13px;
}
/*.item_block{
	height:365px;
	width:282px;
}*/
.test {
	/*width: 255px;
    height: 335px;*/
    overflow:hidden;
    text-overflow: ellipsis;
}
.mytabs a:hover,
.mytabs li.active a:hover,
.faq a:hover {
	text-decoration:none;
}
.vids li a:hover,
.menu li a:hover {
	text-decoration:none;
}
.test a:hover{
	text-decoration:none;
}
.owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("../images/owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}
.two-hdngs li{
	    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    margin-right: 5px;
    background: #d7ebfe;
    color: #666666;
    width: 130px;
    height: 35px;
    line-height: 38px;
}
.two-hdngs li a{
	color:#666666;
	    font-weight: bold;
}
.two-hdngs li a:hover{
	text-decoration:none;
}
.two-hdngs li.active {
	background:#007dc6;
	color:#ffffff;
}
.two-hdngs li.active a {
	color:#ffffff;
}
.two-hdngs li i{
padding-right:10px;
}
.two-hdngs {
	border-bottom:2px solid #007dc6;
	    padding-left: 0;
	margin-bottom:0px;
}
.fq-hdng h2{
	font-size: 20px;
    color: #004c91;
    text-align: center;
    font-weight: bold;
	margin: 0;
    padding: 20px 0px;
}
.vd-heading{
    font-weight: bold;
    font-size: 20px;
    color: #004c91;
	text-align: center;
	padding-top: 10px;
}
#tab4{
	display:none;
	border-left:1px solid #d3d3d3;
	padding: 0 25px;
	min-height:859px;
	background:#f5f5f5;
}
#tab3{
	border-left:1px solid #d3d3d3;
	padding: 0 25px;
	min-height:859px;
	background:#f5f5f5;
	
}
.fq-tb, .vd-tb{
	cursor:pointer;
}

.second-blk .item_block p{
line-height: 20px;
    font-size: 14px;
    padding: 0 20px;
    font-weight: bold;
    /* display: inline; */
    float: left;
    /* display: block; */
    width: 83%;
    vertical-align: bottom;
    margin-top: 26px;}
	
.hm-view ul li{
	    list-style-type: none;
    display: inline-block;
    color: #ffffff;
    height: 70px;
    line-height: 70px;
    width: 70px;
    text-align: center;
	    border-left: 1px solid #2693ff;
}
.hm-view li.active{
	position:relative;
}
.hm-view li.active .hm-op{
    background: #8dcdfa;
    opacity: 0.3;
    height: 70px;
    width: 73px;
    position: absolute;
	    left: 0;
}
.hm-view li.tip-hm.active .hm-op{
        background: #ffc220;
    opacity: 0.7;
    height: 70px;
    width: 73px;
	color:#fff;
    position: absolute;
	    left: 0;
}
.hm-view li.active .hz-bar{
	display:block;
	    z-index: 999;
    bottom: -10px;
}
.hm-view ul {
	margin:0;
}
.hz-bar{
	position:absolute;
	width:73px;
	height:5px;
	display:none;
	background: #8dcdfa;
}
.hm-view li.tip-hm.active .tp-bar{
	display:block;
	    z-index: 999;
    bottom: -10px;
	
}
.hm-view .tip-hm.active{
	display:inline-block;
}
	
.hm-view .tip-hm {
	display:none;
}
.tp-bar{
	position:absolute;
	width:73px;
	height:5px;
	display:none;
	background: #ffc220;
}
.mn-opt ul li{
	list-style-type: none;
	    color: #004c91;
}
.mn-opt h2{
	font-size:14px;
	    color: #004c91;
}
.mn-opt ul{
	padding-left:15px;
}
.mn-opt ul li label input{
	    vertical-align: top;
   /* margin-right: 10px;*/
}
.mn-opt ul li label{
	font-weight:normal;
}
****************fc*********
 .fancy-check {
	display: none;
}
 .fancy-check+span {
	position: relative;
	left: 10px;
}
 .fancy-check+span:before {
	content: " ";
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -15px 10px -12px rgba(0,0,0,.05);
	padding: 7px;
	border-radius: 1000px;
	display: inline-block;
	margin-right: 30px;
	position: absolute;
	left: -25px;
	top: 0px;
}
.fancy-check:checked+span:before {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -15px 10px -12px rgba(0,0,0,.05), inset 15px 10px -12px rgba(255,255,255,.1);
	color: #243441
}
 .fancy-check:checked+span:after {
	content: ' ';
	border-radius: 100px;
	position: absolute;
	background: #253C4B;
	opacity: .8;
	display: none;
	box-shadow: inset 0 15px 23px -10px rgba(187,230,240,.3), 0 2px 2px rgba(0,0,0,.1);
	top: 3px;
	left: -22px;
	width: 10px;
	height: 10px;
}
.fancy-check:checked+span:after {
	content: ' ';
	display: block
}
/*Dashboard*/

.brd-crumb ul li{
	list-style-type:none;
	float:left;
}
li.db-st{
	font-size:20px;
}
.db-st  a{
	color:#007dc6;
}
.hm-st i{
	font-size:16px;
	color:#004c91;
}
.hm-st{
	font-size: 14px;
    color: #666666;
    line-height: 32px;
}
.dashbrd-cont .sd-block {
    color: #fff;
    overflow: hidden;
    display: inline-block;
    float: left;
       margin-right: 61px;
    cursor: pointer;
}
.dashbrd-cont .sd-block:last-child{
	margin-right:0;
}
 .dashbrd-cont .sd-block-icon {
        background: #004c91;
    height: 126px;
    width: 58px;
    float: left;
    margin-left: 1px;
    text-align: center;
}
.dashbrd-cont .sd-block-content {
    width: 215px;
    background: #004C91;
    height: 126px;
    float: left;
    margin-bottom: 3px;
    padding: 20px;
}
.dashbrd-cont .complete .sd-block-content {
  background: #76C043;
}
.dashbrd-cont .complete .sd-block-icon {
  background: #76C043;
}
 .dashbrd-cont .summary .sd-block-content {
  background: #F47321;
}
 .dashbrd-cont .summary .sd-block-icon {
  background: #F47321;
}
 .dashbrd-cont .tips .sd-block-content {
  background: #FFC220;
}
 .dashbrd-cont .tips .sd-block-icon {
  background: #FFC220;
}
.dashbrd-cont .sbc-val {
     display: block;
    font-size: 28px;

}
.dashbrd-cont .sbc-type {
    color: #ffffff;
    font-size: 18px;
}
.dashbrd-cont .sd-block-icon i {
       margin: 75px 0 0;
    font-size: 40px;
}
.dashbrd-cont .sbc-num{
	display:block;
	padding-top: 7px;
}
.dashbrd-cont .tips .sbc-val {
	visibility: hidden;
}
.brd-crumb ul{
	padding:0px;
}
.brd-crumb .db-st i{
	padding-right:10px;
}
.dashbrd-cont{
	padding: 15px 50px;
    display: none;
    background: #eeeeee;
}
.tsk-cmplt h2{
	    background: #004c91;
    color: #ffffff;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
	margin-bottom: 0;
	border-bottom: 1px solid #3370a7;
}
.tsk-cmplt ul li{
    list-style-type: none;
    background: #004c91;
    height: 45px;
    color: #ffffff;
    line-height: 45px;
	   width: 305px;
}
.tsk-cmplt ul{
	padding-left:0;
	    margin-left: -15px;
}
.tsk-cmplt li+li{
	    border-top: 1px solid #3370a7;
}
.tsk-cmplt ul li i {
	    padding-right: 20px;
    padding-left: 20px;
}
.tsk-cmplt ul li.active i{
	padding-left:15px;
}
.tsk-cmplt .progress-cir{
	background:#004c91;
	height: 225px;
	border-left: 1px solid #3370a7;
}
.users {
  table-layout: fixed;
  max-width: 580px;
  white-space: nowrap;
  margin-top: 19px;
  margin-left: 26px;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
}
.users thead {
    max-width: 580px;
}
.users thead tr{
    border-top: 1px solid #e5e5e5;
	 border-right: 1px solid #e5e5e5;
	  border-left: 1px solid #e5e5e5;
    background: #f5f5f5;
    height: 44px;
    line-height: 44px;
	    display: inline-block;
    width: 580px;
}
.users tbody tr{
height: 45px;
    line-height: 45px;}
.users tbody{
border:1px solid #eeeeee;}
.users td+td{
	border-left:1px solid #eeeeee;
	
} 
.users td:first-child{
	
/*	border-bottom:1px solid #eeeeee;*/

}

/* Column widths are based on these cells */
.row-ID {
 
        width: 400px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
}
.row-name {
  width: 45px;
      font-size: 20px;
    color: #cccccc;
    border-left: 1px solid #e5e5e5;
	text-align: center;
}
.row-job {
  width: 45px;
      font-size: 20px;
    color: #cccccc;
    border-left: 1px solid #e5e5e5;
	    text-align: center;
}
.row-email {
  width: 45px;
      font-size: 20px;
    color: #cccccc;
    border-left: 1px solid #e5e5e5;
	    text-align: center;
}
.row-email1 {
  width: 45px;
      font-size: 20px;
    color: #cccccc;
    border-left: 1px solid #e5e5e5;
	    text-align: center;
}
.index{
width: 45px;
    background: #f8f8f8;
	text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
}
.event{
	    width: 193px;
	background: #fdfdfd;
	padding-left: 10px;
}
.type{
width:115px;
background: #fdfdfd;
padding-left: 10px;
}
.day{
	width:100px;
	background: #fdfdfd;
	padding-left: 10px;
}
.count{
	    width: 80px;
    background: #fdfdfd;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #004c91
}
.icn{
width:45px;
		background: #fdfdfd;
		padding-left: 10px;
		color: #666666;
}
.notifications-header ul li{
	float:left;
	list-style-type:none;
	    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.ntf-hdr{
	    width: 302px;
		    font-size: 18px;
    padding-left: 10px;
}
.ntf-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
    padding-right: 26px;
	
}
.ntf-cnt{
	width:78px;
	color: #76c043;
    font-size: 20px;
	font-weight:bold;
}
.ntf-cnt i{
    padding-right: 10px;
    padding-left: 10px;
    color: #76c043;
    font-size: 20px;
}
.notofication-cnt{
    overflow-y: scroll;
    height: 233px;
    clear: both;
	width: 90.5%;
}
.notofication-cnt li{
	float:left;
	list-style-type:none;
	width:45px;
	    height: 91px;
		line-height:91px;
		    background: #fdfdfd;
			border-right:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			
}
.notofication-cnt li ul{
	padding-left:0px;
}
.notofication-cnt li ul li{
	width:270px;
	height:auto;
	border:none;
	line-height:initial;
	padding: 5px 0px 5px 16px;
}
.notofication-cnt li:nth-child(2).active ul li{
	background:#F9F9F9;
	border-right: 1px solid #e5e5e5;
	width: 270px;
	padding-left:11px;
}
.notofication-cnt li:nth-child(2).active h2{
	padding-left:11px;
	}
.notofication-cnt li h2{
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding: 5px 0px 10px 16px;
}
.notofication-cnt li:nth-child(2){
	width:275px;
	line-height:initial;
	border-right: 1px solid #e5e5e5;
}
.notofication-cnt   ul li:first-child{
	background:#f8f8f8;
	
}
.notofication-cnt  li  ul li:first-child{
	background:none;
	    padding: 5px 0px 10px 16px;
}
.notofication-cnt  li ul li i.fa-circle{
color: #76c043;
    font-size: 12px;
    padding-right: 5px;
}
.dq-hdr {
    width: 380px;
    font-size: 18px;
    padding-left: 10px;
}
.dq-hdr i{
	    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #666666;
    padding-right: 26px;
}

.alert-header ul li {
    float: left;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.alrt-hdr{
	    width: 300px;
		    font-size: 18px;
    padding-left: 10px;
}
.alrt-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
    padding-right: 26px;
	
}
.alrt-cnt{
	width:78px;
	color: #d90000;
    font-size: 20px;
	font-weight:bold;
}
.alrt-cnt i{
    padding-right: 10px;
    padding-left: 10px;
   color: #d90000;
    font-size: 20px;
}
.alert-cnt{
    overflow-y: scroll;
    height: 233px;
    clear: both;
	    width: 90.5%;
}
.alert-cnt li{
	float:left;
	list-style-type:none;
	width:45px;
	    height: 91px;
		line-height:91px;
		    background: #fdfdfd;
			border-right:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			
}
.alert-cnt li ul{
	padding-left:0px;
}
.alert-cnt li ul li{
	width:288px;
	height:auto;
	border:none;
	line-height:initial;
	    padding: 5px 0px 5px 16px;
}
.alert-cnt li h2{
	font-size:14px;
	font-weight:bold;
	margin:0;
	    padding: 5px 0px 10px 16px;
}
.alert-cnt li:nth-child(2){
	width:275px;
	line-height:initial;
	border-right: 1px solid #e5e5e5;
}
.alert-cnt ul.active >li:first-child{
	background:#d90000;
	color:#fff;
}
.alert-cnt ul.active >li:nth-child(2){
	border-left:5px solid #ff7373;
}
.alert-cnt ul.active >li:nth-child(2) ul li{
    padding-left: 11px;
    border-right: 1px solid #e5e5e5;
    width: 270px;
	background: #f9f9f9;
}
.alert-cnt ul.active >li:nth-child(2) h2{
    padding-left: 11px;
}
.alert-cnt ul.active>li {
	background:#f9f9f9;
}
.alert-cnt   ul li:first-child{
	background:#f8f8f8;
	
}
.alert-cnt  li  ul li:first-child{
	background:none;
	    padding: 5px 0px 10px 16px;
}
.alert-cnt  li ul li i.fa-circle{
color: #d90000;
    font-size: 12px;
    padding-right: 5px;
}
.dqci-cnt{
    width: 380px;
    height: 233px;
    clear: both;
    border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.dqci-header ul li {
    float: left;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
}

.dq-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
    padding-right: 26px;
	
}

.dqci-cnt i{
    padding-right: 10px;
    padding-left: 10px;
   color: #d90000;
    font-size: 20px;
}
.dqci-cnt span i{
       padding-right: 5px;
    padding-left: 10px;
    color: #004c91;
    font-size: 15px;
    vertical-align: top;
    margin-top: 3px;
}
.notofication-cnt .ntf-num{
	text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
}
.notofication-cnt .ntf-icn{
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.alert-cnt .alrt-num{
	text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
}
.alert-cnt .alrt-icn{
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.history-header ul li {
    float: left;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.hist-hdr{
	    width: 300px;
		    font-size: 18px;
    padding-left: 10px;
}
.hist-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
    padding-right: 26px;
	
}
.hist-cnt{
	width:78px;
	color: #d90000;
    font-size: 20px;
	font-weight:bold;
}
.hist-cnt i{
    padding-right: 10px;
    padding-left: 10px;
   color: #d90000;
    font-size: 20px;
}

.hist-cnt li{
	float:left;
	list-style-type:none;
	width:45px;
	    height: 91px;
		line-height:91px;
		    background: #fdfdfd;
			border-right:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			
}
.hist-cnt li ul{
	padding-left:0px;
}
.hist-cnt li ul li{
	width:288px;
	height:auto;
	border:none;
	line-height:initial;
}
.sdact-cnt{
    width: 380px;
    height: 233px;
    clear: both;
    border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.sdact-header ul li {
    float: left;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
}

.sdact-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
    padding-right: 26px;
	
}
.sdact-hdr {
    width: 380px;
    font-size: 18px;
    padding-left: 10px;
}
.sdact-cnt i{
    padding-right: 10px;
    padding-left: 10px;
   color: #d90000;
    font-size: 20px;
}
/*????*/
.trng-cnt{
    width: 380px;
    height: 233px;
    clear: both;
    border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.trng-header ul li {
    float: left;
    list-style-type: none;
    height: 45px;
    line-height: 45px;
    background: #932fff;
}

.trng-hdr i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
      color: #ffffff;
    padding-right: 26px;
	
}
.trng-hdr {
    width: 380px;
    font-size: 18px;
    padding-left: 10px;
	    color: #ffffff;
}
.trng-cnt i{
    padding-right: 10px;
    padding-left: 10px;
   color: #d90000;
    font-size: 20px;
}
.history thead tr {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background: #f5f5f5;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    width: 378px;
}
.history {
  table-layout: fixed;
  max-width: 378px;
  white-space: nowrap;
}
.history td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
}
.history thead {
    max-width: 378px;
}
.history tbody tr{
height: 45px;
    line-height: 45px;}
.history  tbody{
border:1px solid #eeeeee;
    overflow-y: scroll;
    height: 233px;
    display: inline-block;}
.history td+td{
	border-left:1px solid #eeeeee;
	border-top:1px solid #eeeeee;
} 
.history td:first-child{
	
	/*border-bottom:1px solid #eeeeee;*/

}
.hist-ind {
    width: 45px;
    background: #f8f8f8;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
}
.hist-event{
    width: 156px;
    background: #fdfdfd;
    padding-left: 10px;
}
.hist-type {
    width: 115px;
    background: #fdfdfd;
    padding-left: 10px;
}
.hist-icn {
	width: 45px;
    background: #fdfdfd;
    text-align: center;
    color: #666666;
}
.hist-row {
  
        font-size: 18px;
    color: #333333;
    padding-right: 17px;
    padding-left: 15px;
    width: 280px;
    font-weight: normal;
}
.hist-row i{
    height: 45px;
    line-height: 45px;
	    font-size: 14px;
    color: #666666;
}
.hist-ID {
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
	    border-right: 1px solid #e5e5e5;
    padding-right: 15px;
}
.hist-ID i{
padding-right:15px;
}
.c100 {
    position: relative;
font-size: 180px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
       margin: 0.1em 0.1em 0.1em 0.2em;
	background-color: #3370a7;	
}
.pie, .c100 .bar {
    position: absolute;
       border: 0.08em solid #76c043;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(-10deg);
}
.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p12 .bar {
    -webkit-transform: rotate(199.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(180deg);
}
.c100 *, .c100 *:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.carousel-indicators1 .fancy-check+span:before {
    content: " ";
    background-color: #004c91;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -15px 10px -12px rgba(0,0,0,.05);
    padding: 7px;
    border-radius: 1000px;
    display: inline-block;
    margin-right: 30px;
    position: absolute;
    left: -25px;
    top: 0px;
}
.carousel-indicators1 .fancy-check:checked+span:after {
    content: ' ';
    border-radius: 100px;
    position: absolute;
    background: #ffffff;
    opacity: .8;
    display: none;
    box-shadow: inset 0 15px 23px -10px rgba(187,230,240,.3), 0 2px 2px rgba(0,0,0,.1);
    top: 3px;
    left: -22px;
    width: 10px;
    height: 10px;
}
.carousel-indicators1 li{
	list-style-type:none;
	display:inline-block;
}
.carousel-indicators1 li+li{
	margin-left:5px;
}
.carousel-indicators1 {
    text-align: center;
	padding-left:0px;
	margin-top:15px;
}
.vd-container{
	height:372px;
	width:98%;
	background:#004c91;
	border:1px solid #007dc6;
	position:relative;
}
.vd-container img{
    position: absolute;
    top: 34%;
    left: 44%;
}
.prcnt-cont{
	width:580px;
}
.notofication-cnt ul,
.notifications-header ul{
padding-left:0;
}
.alert-header ul,
.alert-cnt ul{
	padding-left:0;
}
.dqci-header ul,
.dqci-cnt {
	padding-left:0;
}
.hstry-wdw{
margin-top:30px;
}
.sdact-header ul{
	    margin: 0;
    padding-left: 0;
}
.trng-header ul{
	    margin: 0;
    padding-left: 0;
}

.radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 15px;
	margin-right: 5px;
	font-size: 13px;
}
.radio input[type=radio]{
	display: none;
}
.radio label:before {
	    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    border: 1px solid #fff;
    background-color: #004c91;
}

.radio label:before {
	border-radius: 8px;
}

.radio input[type=radio]:checked + label:before {
 content: "\2022";
    color: #f3f3f3;
    font-size: 44px;
    text-align: center;
    line-height: 15px;
}
.radio{
    bottom: -64px;
    left: 180px;
}
.header  .settings i.fa-user {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 20px; 
    position: relative;
    left: 7px;
    top: 5px;
}
.tips-cont {
    padding: 15px 50px;
    display: none;
    background: #eeeeee;
}
.tips-hdr i.fa-bars{
    color: #ffc220;
    font-size: 20px;
    padding-right: 15px;
}
.tips-hdr i.fa-lightbulb-o{
    color: #ffc221;
    font-size: 30px;
    padding-right: 15px;
}
.tp-sk:before {
  
    
    content: '';
    height: 27px;
    width: 52px;
    background: url(../images/spark2.png) no-repeat;
    position: absolute;
    top: -15%;
    left: 58px;
    margin-left: -19px;
    margin-bottom: 5px;
}
hr{
    border-color: #ffffff;}
.prdct-vd{
	height:473px;
	width:817px;
	border:1px solid #cccccc;
	background:#fafafa;
}
.emilist{
	display:none;
}
.emimaincnt{
    height: 521px;
    width: 360px;
    background: #007dc6;
    border-radius: 20px;
}
.emimaincnt h2{
font-size: 18px;
    color: #ffc220;
    padding: 15px 40px 15px 40px;
    text-align: center;
	    border-bottom: 1px solid #fff;
}
.emimaincnt button{
position: relative;
    top: 160px;
    left: 95px;
    height: 36px;
    width: 170px;
    background: #ffc220;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: none !important;
    border: 1px solid #ffc220;
}
.emimaincnt button:hover{
  background: #ffc220;
   border: 1px solid #ffc220;
}
.dqci-cnt .c100 {
    position: relative;
    font-size: 180px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    left: 16%;
    margin: 0.1em 0.1em 0.1em 0.2em;
    background-color: #3370a7;
}
.select{
    background: #3370a7;
    border-left: 5px solid#76c043;
}
.users tbody{
	border-top:none;
}
.users thead{
	border:1px solid #e5e5e5;
	border-bottom: none;
}
.users .row-name.active{
	background: #fdfdfd;
    color: #004c91;
}
.users tr.active td{
	background:#f3f9ff;	
}
.users tr.active td:first-child{
	background:#004c91;
	color:#fff;
}
.users tr.active td:nth-child(2){
	border-left:5px solid #8dcdfa;
	
}
.task-typ li.active{
    background: #3370a1;
    border-left: 5px solid #76c043;
}
.notofication-cnt ul li.active:first-child{
	background: #76c043;
    color: #fff;
}
.notofication-cnt ul li:nth-child(2).active{
	background: #f9f9f9;
     border-left: 5px solid #A3D900;
}
.notofication-cnt ul li:nth-child(3).active{
	background: #f9f9f9;
}

.history tr.active td:nth-child(2) {
    border-left: 5px solid #8dcdfa;
	    padding-left: 6px;
}
.history tr.active td {
    background: #f3f9ff;
}
.history tr.active td:first-child {
    background: #004c91;
    color: #fff;
	    border-bottom: none;
}














/* Pie Chart */
.progress-pie-chart {
   width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #dddddd;
    position: relative;
    top: 12px;
}
.progress-pie-chart.gt-50 {
background-color: #81CE97;
}

.ppc-progress {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 190px;
height: 200px;
clip: rect(0, 100px, 200px, 0);
    background: #004c91;
transform: rotate(60deg);
}
.gt-50 .ppc-progress {
clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
clip: rect(0, 200px, 200px, 100px);
background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #f5f5f5;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 3.6em;
    font-weight: bold;
    color: #004c91;
}

.pcc-percents-wrapper {
display: table-cell;
vertical-align: middle;
}

.progress-pie-chart {
margin: 50px auto 0;
}
.progress-cir .progress-pie-chart {
    width: 190px;
    height: 190px;
    border-radius: 50%;
	background-color: #3370a7;
    position: relative;
    top: -38px;
}
.progress-cir .ppc-percents span {
    display: block;
    font-size: 3.6em;
    font-weight: bold;
    color: #ffffff;
}
.progress-cir .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #004c91;
    text-align: center;
    display: table;
}
.progress-cir .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 190px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #76c043;
    transform: rotate(60deg);
}
